<app-header></app-header>
<body style="background-image: url('https://t3.ftcdn.net/jpg/03/55/60/70/360_F_355607062_zYMS8jaz4SfoykpWz5oViRVKL32IabTP.jpg')">
<br><br><br><br><br><br><br><br>
    <div class="col-md-4 offset-md-4" style="text-align: center;">
    <mat-card style="margin-left: 15%;margin-right:15%;">
    <h1 class="headding" style="color: purple;">Login Form</h1>
    

    <form  class="flex-container" [formGroup]="loginFormGroup"
    (ngSubmit)="loginCheck()" (click)="saveUserEmail()"  >
    
            <h2 class="headding2">Please Enter your Credentials to Login</h2>
            <div class="container text-center">
                <img class="img-fluid" style="width: 100px;" src="https://cdn-icons-png.flaticon.com/512/295/295128.png">
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter Your Password">
            </div> <br>
            <input class="btn btn-success" type="submit" [disabled]="loginFormGroup.invalid" value="Login" >
           

    </form>
    <h2 class="login">Not an User. <a href="register">Click Here</a> To Register</h2>
</mat-card>
</div>
</body>

