
 

<div style="margin-top:10px;margin-left: 20%;position:static;">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="bold" (click)="filter('')">All</mat-button-toggle>
      <mat-button-toggle value="italic" (click)="filter('Official task')">Official Task</mat-button-toggle>
      <mat-button-toggle value="underline" (click)="filter('Non-Official task')">Non-Official Task</mat-button-toggle>
    </mat-button-toggle-group></div>
  
  <div class="container" >
    <ng-container *ngFor="let item of filterCategory | filter:searchKey:'taskTitle'">
         <div class="card">
        <div class="box">
          <div class="content">
            <h2>{{item.category}}</h2>
            <h3>{{item.taskTitle}}</h3>
            <p>{{item.description}}</p>
            <p>{{item.priority}}</p>
            <p>{{item.date}}</p>
            
            <button mat-icon-button class="dwtn" style="margin-right:50px;"><mat-icon>edit</mat-icon>Edit</button>
            <button mat-icon-button class="dwtn" ><mat-icon>delete</mat-icon>Delete</button>
            <button  style="margin-right:50px;">Recover</button>
          </div>
      
        </div>
      </div>
    </ng-container>
    
    </div>
  
  
  
  
      <div class="zeronotes">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/OOjs_UI_icon_trash.svg/1200px-OOjs_UI_icon_trash.svg.png"
        class="imagecs">
        <div class="imagefont">No Notes in Trash</div>
      </div>
  
  <!-- <button mat-fab style="position: fixed;bottom:5%;left:92%;transform: scale(1.25);" ><mat-icon style="transform: scale(1.5);">note_add</mat-icon></button> -->
  
