<!-- <h1>edith works</h1> -->
<!-- <body> -->

    <!-- <div class="col-md-12">
      <div class="card card-container">
       
  
  
        <h1 style="color: red;text-align: center;">Add a Task</h1>
        <form [formGroup]="UpdateTaskform" (ngSubmit)="UpdateTaskData()" >
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="taskId">taskId</label>
                  <input type="text" class="form-control" id="taskId" placeholder="taskId" formControlName="taskId" >
                </div>
              </div>
      
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="taskTitle">Task-Title</label>
              <input type="text" class="form-control" id="taskTitle" placeholder="Task-Title" formControlName="taskTitle" >
            </div>
          </div> -->
        
          <!-- <div class="form-group col-md-4">
            <label for="category" selected>Category</label>
            <select id="category" class="form-control"formControlName="category">
              <option >Official task</option>
              <option>Non-Official task</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="....." formControlName="description">
          </div>
          
          <div class="form-group col-md-4">
              <label for="priority">priority</label>
              <select id="priority" class="form-control" formControlName="priority">
                <option >High</option>
                <option >Medium</option>
                <option >Low</option>
              </select>
            </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="datetimelocal">datetimelocal</label>
              <input type="datetime-local" class="form-control" id="datetimelocal" formControlName="date">
            </div>
           
            
          </div>
         
          <button type="submit" class="btn btn-primary">Update Task</button>
        </form>
  
      </div>
    </div>
  </body> -->


  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateStudent()">
          <div class="form-group">
            <label for="taskId">Student Rollnumber :</label>
            <input type="text" disabled #taskId [(ngModel)]="studentToUpdate.taskId" name="taskId" id="taskId"
              class="form-control" placeholder="Student Roll number">
          </div>
          <div class="form-group">
            <label for="taskTitle">Student Name :</label>
            <input type="text" #taskTitle [(ngModel)]="studentToUpdate.taskTitle" name="taskTitle" id="taskTitle" class="form-control"
              placeholder="Student Name">
          </div>
          <div class="form-group">
            <label for="category">Student category :</label>
            <input type="text" #category [(ngModel)]="studentToUpdate.category" name="category" id="category"
              class="form-control" placeholder="Student category">
          </div>
          <div class="form-group">
            <label for="description">Student description :</label>
            <input type="text" #description [(ngModel)]="studentToUpdate.description" name="description" id="description"
              class="form-control" placeholder="Student Percentage">
          </div>
          <div class="form-group">
            <label for="priority">Student category :</label>
            <input type="text" #priority [(ngModel)]="studentToUpdate.priority" name="priority" id="priority"
              class="form-control" placeholder="Student priority">
          </div>
          <div class="form-group">
            <label for="date">Student category :</label>
            <input type="text" #category [(ngModel)]="studentToUpdate.date" name="date" id="date"
              class="form-control" placeholder="Student date">
          </div>
          <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary w-100">
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  
   -->


   